<div class='vue-typeahead__container'>

  <input
    ref='input'
    type='text'
    v-model='query_'
    class='vue-typeahead__input'
    :class='class_'
    :name='name'
    :placeholder='placeholder'
    :autocomplete='autocomplete'
    :disabled='disabled'
    @keydown.up.prevent='up'
    @keydown.down.prevent='down'
    @keydown.enter.prevent='enter'
    @keydown.esc.prevent='esc'
    @blur='blur'
    @focus='focus'
  />

  <div
    class='vue-typeahead__matches'
    v-show='matchesState'
    :style='{width: inputWidth}'
   >
    <div
      v-for='(item, index) in filteredItems'
      v-html='modifyValue(item, query_)'
      :class='{ "_active" : activeItem === index }'
      @click='click(index)'
    >
    </div>
  </div>

</div>
