<div class='vue-typeahead__container'>

  <input
    ref='input'
    type='text'
    v-model='query'
    class='vue-typeahead__input'
    :name='name'
    :placeholder='placeholder'
    :autocomplete='autocomplete'
    :disabled='disabled'
    @keydown.up.prevent='up'
    @keydown.down.prevent='down'
    @keydown.enter.prevent='enter'
    @keydown.esc.prevent='esc'
    @blur='blur'
    @focus='focus'
  />

  <div
    class='vue-typeahead__matches'
    v-show='matchesState'
    :style='{width: inputWidth}'
   >

    <slot name='item'
      v-for='(item, index) in filteredItems'
      :item='item'
      :index='index'
      :active='activeItem === index'
      @click='click(index)'
    />

  </div>

</div>
